<ul class="list-group">
    <li class="list-group-item"><a href="secureAcceptanceWebMobile">Secure Acceptance Web Mobile</a></li>
    <li class="list-group-item"><a href="secureAcceptanceCheckout">Secure Acceptance Checkout API</a></li>
</ul>

